* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.auth-form-container-register{
    padding:5rem;
    border:1px black;
    border-radius: 10px;
    margin: 0.5rem;
    padding-bottom: 12rem;
    padding-top: 12rem;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(79deg,#DED1BD,#faf6f2,grey);
}

.auth-form-container-register, .register-form{
    display:flex; 
    flex-direction: column;   
    justify-content: center;
    align-items: center;
  /* justify-content: center; */
}

.register-form{
    background: white;
    padding:8rem;
    padding-left: 10rem;
    padding-right: 10rem;
    border-radius: 10px;
    margin-bottom: 2rem;
    margin-top: 2rem;
    height:500px;
    width:500px;
}

label {
    padding:0.25rem 0;
    text-align:center;

}

input {
    margin: 0.5rem 0;
} 

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: grey;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: 1px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.button-class{
    align-items: center;
    justify-content: center;
}

.link-btn-register{
    background: none;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: underline;
    width: 300px;
    /* text-align: center; */
    background-color:grey;
    color:white;
    border-color: grey;
    text-align:center;
}

.register-header {
    border: .5em;
    border-left: 8em;
    border-right: 8em;
    text-align:center;
    border-style: solid;
    border-color: grey;
    background-color:  grey;
    color: white;
    font-size: 25px;
    border-radius: 10px;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.line {
    display: inline-block;
}


